.ForgetPassword {
  background-color: whitesmoke;
  text-align: center;
  margin: 0 auto;
}
.ForgetPasswordInputs input::placeholder {
  color: #23233c;
  font-size: 14px;
}
.ForgetPasswordInputs input {
  padding-left: 50px;
  width: 200px;
  height: 55px;
  border-radius: 5px;
  border: none;
  margin-bottom: 35px;
  box-shadow: 0px 5px 10px rgba(126, 126, 126, 0.3);
}

.ForgetPasswordInputs #top {
  margin-top: 20px;
}
p {
  padding-left: 20px;
  padding-right: 20px;
}

.ForgetPasswordContainer {
  height: auto;
  max-width: auto;
}

.ForgetPasswordHeader {
  background-color: whitesmoke;
  height: 170px;
  max-width: auto;
  background-image: url('../../assets/MainHeader.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.ForgetPasswordButton {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
}

.ForgetPasswordButton button {
  margin-top: 20px;
  background-color: #101022;
  color: #fff;
  border: none;
  width: 225px;
  height: 60px;
  border-radius: 18px;
  font-size: 20px;
  font-weight: 700;
}

.ForgetPasswordButton button:hover {
  cursor: pointer;
}

.ForgetPasswordTitle {
  color: #23233c;
  font-size: 40px;
  margin-top: 0px;
}

.ForgetPasswordFooter {
  background-color: whitesmoke;
  height: 170px;
  max-width: auto;
  background-image: url('../../assets/Footer.png');
  background-position: center;

  background-repeat: no-repeat;
  background-size: cover;
}
